a {
    text-decoration: none !important;
}

.login-body .login-panel .ui-password {
    width: 100%;
    margin: 6px 0;
}


.layout-ajax-loader {
    position: static !important;
}

.layout-ajax-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
}


.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
    width: 100%;
}