.login-body .login-panel .ui-password {
    width: 100%;
    margin: 6px 0;
}

.layout-ajax-loader {
    position: static !important;
}

.layout-ajax-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
}

.transparent-dialog {
    box-shadow: none !important;
}

.transparent-dialog .ui-dialog-titlebar {
    background-color: transparent !important;
}

.transparent-dialog .ui-dialog-content {
    background-color: transparent !important;
}