.website {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.website.container {
    padding-right: 0;
    padding-left: 0
}



.website-aside-fix {

}

.website-header-fixed {
    padding-top: 50px;
}

@media (min-width: 768px) {
    .navbar-collapse {
        height:50px
    }

   .website.container {
        width: 750px;
        box-shadow: 0 0 4px 3px rgba(0,0,0,.05);
    }

   .website.container.website-aside {
        overflow-x: hidden
    }

   .website.container.app-aside-folded.website-aside {
        overflow-x: visible
    }

   .website.container.app-aside-fixed.app-aside-folded.website-aside>ul.nav {
        position: absolute
    }

   .website.container.website-aside,.app.container.website-header {
        max-width: 750px
    }

   .website.container.website-footer-fixed {
        right: auto;
        left: auto;
        width: 100%;
        max-width: 550px
    }

   .website.container.app-aside-folded.website-footer-fixed {
        max-width: 690px
    }

   .website.container.app-aside-dock.website-footer-fixed {
        max-width: 750px
    }
}

@media (min-width: 992px) {
   .website.container {
        width:970px
    }

   .website.container.website-aside,.app.container.website-header {
        max-width: 970px
    }

   .website.container.website-footer-fixed {
        max-width: 770px
    }

   .website.container.app-aside-folded.website-footer-fixed {
        max-width: 910px
    }

   .website.container.app-aside-dock.website-footer-fixed {
        max-width: 970px
    }
}

@media (min-width: 1200px) {
   .website.container {
        width:1170px
    }

   .website.container.website-aside,.app.container.website-header {
        max-width: 1170px
    }

   .website.container.website-footer-fixed {
        max-width: 970px
    }

   .website.container.app-aside-folded.website-footer-fixed {
        max-width: 1110px
    }

   .website.container.app-aside-dock.website-footer-fixed {
        max-width: 1170px
    }
}

@media (min-width: 1800px) {
   .website.container {
        width:1300px
    }

   .website.container.website-aside,.app.container.website-header {
        max-width: 1300px
    }

    .index-image,.item-thumb {
        min-height: 280px
    }
}

@media (min-width: 3840px) {
   .website.container {
        width:3000px
    }

   .website.container.website-aside,.app.container.website-header {
        max-width: 3000px
    }

   .website-aside,.navbar-header {
        width: 700px
    }

   .website-content,.app-footer,.navbar-collapse {
        margin-left: 700px
    }

    .asideBar {
        width: 740px!important
    }

    #tag_toc.fixed #toc {
        width: 697px
    }
}
